.create_post_modal {
    top: calc(50% - 100px);
}
.create_post_modal .file_preview_modal_body{
    max-height:unset !important;
    height: auto !important;
    overflow:unset !important;
}

.create_post_modal .file_preview_modal_body .file-preview {
    margin-bottom: 12px;
    width: 100%;
    transition: all 0.3s;
}

.create_post_modal .file_preview_modal_body .file-preview:hover {
    background-color: #ccf2ff;
}

.create_post_modal .file_preview_modal_body .post-body__cell {
    position: relative;
}

.create_post_modal .file_preview_modal_body .post-body__cell .send-button {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 12px;
    color: #ccc;
}

.create_post_modal .file_preview_modal_body .post-body__cell .send-button:hover {
    text-decoration: none;
    border: 0;
    color: yellowgreen;
}

.create_post_modal .file_preview_modal_body .textbox-help-link {
    display: none !important;
}

.secret_level_select select {
    border: 1px solid #ddd;
    background-color: transparent;
    padding: 4px 12px;
    border-radius: 2px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
}

.secret_level_select select:after {
    content: "!!!!!!!";
    transform: rotate(180deg);
    padding: 12px 8px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 100;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}