@media screen and (max-width: 768px) {
    .post-create__container form {
        padding: 0 8px 8px !important;
    }
}

form#create_post {
    textarea:focus {
        border: 1px solid #009 !important;
        background-color: #fff !important;
    }
}